@charset "UTF-8";

/**
 * import materialize-css
 */
$roboto-font-path: "../../node_modules/materialize-css/fonts/roboto/" !default;
$materializecss-path: "../../node_modules/materialize-css/sass/components";
// Mixins
// @import "components/prefixer";
@import "../../node_modules/materialize-css/sass/components/mixins";
@import "../../node_modules/materialize-css/sass/components/color";

// Variables;
@import "../../node_modules/materialize-css/sass/components/variables";
@import "variables";

// Reset
@import "../../node_modules/materialize-css/sass/components/normalize";

// Components
@import "../../node_modules/materialize-css/sass/components/global";
@import "../../node_modules/materialize-css/sass/components/icons-material-design";
@import "../../node_modules/materialize-css/sass/components/grid";
@import "../../node_modules/materialize-css/sass/components/navbar";
@import "../../node_modules/materialize-css/sass/components/roboto";
@import "../../node_modules/materialize-css/sass/components/typography";
@import "../../node_modules/materialize-css/sass/components/cards";
@import "../../node_modules/materialize-css/sass/components/toast";
@import "../../node_modules/materialize-css/sass/components/tabs";
@import "../../node_modules/materialize-css/sass/components/tooltip";
@import "../../node_modules/materialize-css/sass/components/buttons";
@import "../../node_modules/materialize-css/sass/components/dropdown";
@import "../../node_modules/materialize-css/sass/components/waves";
@import "../../node_modules/materialize-css/sass/components/modal";
@import "../../node_modules/materialize-css/sass/components/collapsible";
@import "../../node_modules/materialize-css/sass/components/chips";
@import "../../node_modules/materialize-css/sass/components/materialbox";
@import "../../node_modules/materialize-css/sass/components/forms/forms";
@import "../../node_modules/materialize-css/sass/components/table_of_contents";
@import "../../node_modules/materialize-css/sass/components/sideNav";
@import "../../node_modules/materialize-css/sass/components/preloader";
@import "../../node_modules/materialize-css/sass/components/slider";
@import "../../node_modules/materialize-css/sass/components/carousel";
@import "../../node_modules/materialize-css/sass/components/date_picker/default";
@import "../../node_modules/materialize-css/sass/components/date_picker/default.date";
@import "../../node_modules/materialize-css/sass/components/date_picker/default.time";

/**
 * Other thrid party libraries
 */
@import 'google-design-icons';
@import '../../node_modules/animate.css/animate.css';

/**
 * custome styles
 */
@import 'base';
@import 'bem';
@import 'splash';