<template>

  <md-sidenav view-model.ref="sideNav" md-fixed="true" md-close-on-click="true">
    <md-card md-image="http://aurelia-ui-toolkits.github.io/demo-materialize/images/card-sample-1.jpg"
             md-title="Navigation"
             class="image-only-card"></md-card>

    <ul>
      <li md-waves repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
        <a href.bind="row.href" click.delegate="closeNav()">${row.title}</a>
      </li>
    </ul>
  </md-sidenav>

  <md-navbar md-fixed="true">
    <a md-sidenav-collapse="ref.bind: sideNav;" md-waves class="button-collapse left hide-on-large-only"><i class="material-icons">menu</i></a>
    <a href="/" class="brand-logo center">${router.title}</a>
  </md-navbar>
</template>