<template>
  <section class="view welcome animated zoomIn">

    <h1>Invite Code</h1>

    <form role="form" submit.delegate="submit()">
      <input type="text" class="form-control input-lg" value.bind="code" placeholder="Enter your invatation code">
      <br><br>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Send</button>
    </form>

    <div class="angry">
      <img  src="../../assets/images/angry.png" width="240px" height="200px">
    </div>

  </section>
</template>